# Vendor rules; MUST match the format:
#
# /manifests/$vendor_id/
/manifests/extrahop/ example@extrahop.com

# Non-manifest-related rules.
# These come last to ensure they take priority.
/.vscode/ @hosting-org/bob-core
/samples/ @hosting-org/bob-core
/schemas/ @hosting-org/bob-core
/CODEOWNERS @hosting-org/bob-core
